<div class="row-fluid">

    <div class="author-bio clearfix">
        <figure><img src="images/content/avatar/1.jpg" alt="Avatar" original="images/content/avatar/1.jpg"></figure>
        <div class="content">
            <h3>Mugiwara Kiwolen (@@mdkiwol)</h3>
            <p>Sed tristique rhoncus dolor a porta. Nunc suscipit condimentum ultrices. Fusce non arcu urna. Duis iaculis tellus id felis fringilla commodo. Vivamus aliquet ullamcorper sagittis. Aliquam facilisis diam qus nibh euismod et varius enim gravida. Etiam elementum condimentum volutpat.</p>
            <p class="add-info"><i class="icon-share"></i> Email: <a href="#" title="Send a private message via email">author@email_domain.com</a></p>
        </div>
    </div> <!-- End Author-Bio -->

    <div class="header">
        <h4>Mugiwara Kiwolen Articles (264)</h4>
    </div>

    <!-- One -->
    <div class="span6 post no-margin-left">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink Camerette - Your Time to Dream">Camerette - Your Time to Dream</a></h2> <!-- Title -->
            <p>Suspendisse ornare luctus tempus. Nulla nec orci erat, sed consequat lacus. Curabitur vel odio eu sapien fermentum placerat pharetra ac lectus. Ut erat sapien, lobortis nec mattis.</p> <!-- Content -->
            <div class="meta">By <a href="author.html">mdkiwol</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 14, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">15 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <!-- Two -->
    <div class="span6 post">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink Glass House Below The Dark of Moon Light">Glass House Below The Dark of Moon Light</a></h2> <!-- Title -->
            <p>Praesent mattis mauris urna. Suspendisse vuputa, urna sit amet laoreet iaculis, magna urna porttitor justo, vel pretium sapien urpis nec turpis. Integer nec consectetur odio.</p>
            <div class="meta">By <a href="author.html">jagerjack</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 13, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">8 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <div class="clearfix ie-sep"></div> <!-- Clearfix -->
    <!-- Three -->
    <div class="span6 post no-margin-left">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink House in The Woods">House in The Woods</a></h2> <!-- Title -->
            <p>Pellentesque sed eros sit amet eros congue dium. Nullam fringilla adipiscing placerat. Mauris feugiat elit et nisi dapibus sodales. Aenean pulvinar odio non sapien tincidunt pellentesque.</p>
            <div class="meta">By <a href="author.html">Joh Donn</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 12, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">12 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <!-- Four -->
    <div class="span6 post">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink Camerette - Your Time to Explore">Camerette - Your Time to Explore</a></h2> <!-- Title -->
            <p>Sed tristique rhoncus dolor a porta. Nunc suscipit condimentum ultrices. Fusce non arcu urna. Duis iaculis tellus id felis fringilla commodo. Vivamus quet ullamcorper sagittis.</p>
            <div class="meta">By <a href="author.html">amaah</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 11, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <div class="clearfix ie-sep"></div> <!-- Clearfix -->
    <!-- Five -->
    <div class="span6 post no-margin-left">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink Winter Kitchen with Silver Panorama">Winter Kitchen with Silver Panorama</a></h2> <!-- Title -->
            <p>Fusce vehicula sapien sed dolor semper gravida. Nam mollis, nisl vel mollis condimentum, arcu lorem varius ipsum, eget vulputate nisl ligula sit amet metus. Duis ac magna neque, congue tristique risus.</p>
            <div class="meta">By <a href="author.html">mdkiwol</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 10, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <!-- Six -->
    <div class="span6 post">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink Casa en la costa del uno">Casa en la costa del uno</a></h2> <!-- Title -->
            <p>Praesent mattis mauris urna. Suspendisse vuputa, urna sit amet laoreet iaculis, magna urna porttitor justo, vel pretium sapien urpis nec turpis. Integer nec consectetur odio.</p>
            <div class="meta">By <a href="author.html">jagerjack</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 9, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <div class="clearfix ie-sep"></div> <!-- Clearfix -->
    <!-- Seven -->
    <div class="span6 post no-margin-left">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink Mosaic Pool is Very Amazing And Beautiful">Mosaic Pool is Very Amazing And Beautiful</a></h2> <!-- Title -->
            <p>Pellentesque sed eros sit amet eros congue dium. Nullam fringilla adipiscing placerat. Mauris feugiat elit et nisi dapibus sodales. Aenean pulvinar odio non sapien tincidunt pellentesque.</p>
            <div class="meta">By <a href="author.html">amaah</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 8, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">3 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <!-- Eight -->
    <div class="span6 post">
        <div class="text">
            <h2><a href="single_post.html" title="View permalink House in The Woods">Baltic Park Molo</a></h2> <!-- Title -->
            <p>Quisque placerat erat ac nunc consequat faucibus. Aenean tortor purus, faucibus a varius nec, facilisis vel enim. Maecenas quis felis ante. Aenean vulputate ut dapibus felis ante quis diam.</p>
            <div class="meta">By <a href="author.html">Joh Donn</a>&nbsp;&nbsp;|&nbsp;&nbsp;Jan. 12, 2013&nbsp;&nbsp;|&nbsp;&nbsp;<a href="single_post.html">12 comments</a></div> <!-- Meta -->
        </div>
    </div>

    <div class="clearfix ie-sep"></div> <!-- Clearfix -->

    <nav class="nav-pagination">
        <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li class="empty-space">....</li>
            <li><a href="#">17</a></li>
        </ul>
        <p>Page 1 of 17</p>
    </nav> <!-- End Nav-Pagination -->

</div>