
<div id="highlight-posts" class="clearfix">
    <ul>
        <li class="masked masked-big">
            <!-- One -->
            <div class="flexslider highlight-one loading">
                <ul class="slides">
                    <!-- Images -->
                    <li><figure style="background-image:url(images/content/full/5.jpg);"></figure></li>
                    <li><figure style="background-image:url(images/content/full/4.jpg);"></figure></li>
                    <li><figure style="background-image:url(images/content/full/9.jpg);"></figure></li>
                </ul>
            </div>
            <a href="single_post.html" title="View permalink Alvear Art Black and White Theme"><div class="masked-hover"></div></a> <!-- Masked Hover -->
            <div class="masked-base"></div> <!-- Masked Base -->
            <div class="masked-color masked-violet"></div> <!-- Masked Color -->
            <div class="text">
                <h2>Alvear Art Black and White Theme</h2>
                <span class="meta">By mdkiwol on Jan. 14, 2013</span>
                <p>Suspendisse ornare luctus tempus. Nulla nec orci erat, sed consequat lacus. Curabitur vel odio eu sapien fermentum placerat pharetra ac lectus. Ut erat sapien, lobortis nec mattis eget, tempus sit amet elit. Duis gravida tincidunt fermentum. Etiam metus lectus, facilisis non imperdiet sit amet, fermentum vitae leo [...]</p>
            </div>
        </li>

        <li class="masked masked-small">
            <!-- Two -->
            <div class="flexslider highlight-two loading">
                <ul class="slides">
                    <!-- Images -->
                    <li><figure style="background-image:url(images/content/600/11.jpg);"></figure></li>
                    <li><figure style="background-image:url(images/content/600/2.jpg);"></figure></li>
                </ul>
            </div>
            <a href="single_post.html" title="View permalink Camerette - Your Time to Explore"><div class="masked-hover"></div></a> <!-- Masked Hover -->
            <div class="masked-base"></div> <!-- Masked Base -->
            <div class="masked-color masked-red"></div> <!-- Masked Color -->
            <div class="text">
                <h2>Camerette - Your Time to Explore</h2>
                <span class="meta">By jagerjack on Jan. 13, 2013</span>
            </div>
        </li>

        <li class="masked masked-small">
            <!-- Three -->
            <div class="flexslider highlight-three loading">
                <ul class="slides">
                    <!-- Images -->
                    <li><figure style="background-image:url(images/content/600/3.jpg);"></figure></li>
                    <li><figure style="background-image:url(images/content/600/1.jpg);"></figure></li>
                </ul>
            </div>
            <a href="single_post.html" title="View permalink Living room in Italy"><div class="masked-hover"></div></a> <!-- Masked Hover -->
            <div class="masked-base"></div> <!-- Masked Base -->
            <div class="masked-color masked-blue"></div> <!-- Masked Color -->
            <div class="text">
                <h2>Living room in Italy</h2>
                <span class="meta">By amaah on Jan. 12, 2013</span>
            </div>
        </li>

        <li class="masked masked-small no-margin-bottom">
            <!-- Four -->
            <div class="flexslider highlight-four loading">
                <ul class="slides">
                    <!-- Images -->
                    <li><figure style="background-image:url(images/content/600/8.jpg);"></figure></li>
                    <li><figure style="background-image:url(images/content/600/7.jpg);"></figure></li>
                    <li><figure style="background-image:url(images/content/600/6.jpg);"></figure></li>
                </ul>
            </div>
            <a href="single_post.html" title="View permalink Mosaic Pool is Amazing And Beautiful Place"><div class="masked-hover"></div></a> <!-- Masked Hover -->
            <div class="masked-base"></div> <!-- Masked Base -->
            <div class="masked-color masked-orange"></div> <!-- Masked Color -->
            <div class="text">
                <h2>Mosaic Pool is Amazing And Beautiful Place</h2>
                <span class="meta">By john on Jan. 11, 2013</span>
            </div>
        </li>

    </ul>
</div> <!-- End Highlight Posts -->